/* Se aplicaria a todo */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #b4b4b4;
    background-color: #1f1f1f;
    font-family: "Oxygen";
    line-height: 1.4;
    font-size: 1.125em;
}


/* se aplica a todas las listas y links */

ul {
    padding: 0;
    list-style-type: none;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    color: rgb(119, 90, 221);
}


/* Imagen a la derecha */

img {
    border-radius: 50%;
    height: 200px;
    width: 210px;
    border: solid 1px rgba(255, 255, 255, 0.411);
    object-fit: cover;
    float: right;
    margin-left: 35px;
}


/* todos los estilos de textos */

p {
    margin-top: 1em;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: 2.369em;
}

h2,
.h2 {
    font-size: 1.333em;
    font-weight: bold;
}

h3,
.h3 {
    font-size: 1.333em;
    font-weight: bold;
}

h4,
.h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}


/* FIN de textos */


/* Inicio de GRIDS */

.grid {
    min-height: 100vh;
    max-width: 65em;
    margin: 0 auto;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em auto auto auto auto 5em;
    grid-gap: 1.5em;
    margin-top: 1.5em;
    grid-template-areas: "header header header header header header" "datos datos datos datos datos datos" "proyectos proyectos proyectos proyectos proyectos proyectos" "main main main main sidebar sidebar" "educacion educacion educacion educacion educacion educacion" "footer footer footer footer footer footer";
}

.datos {
    grid-area: datos;
}

.proyectos {
    grid-area: proyectos;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.educacion {
    grid-area: educacion;
}

.proyectos-grid {
    margin-top: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    display: flex;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* FIN de GRIDS */


/* Inicio de Iconos */

.icon {
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
}

.icon--right {
    margin-right: 0;
    margin-left: 0.5em;
}

.icon--bottom {
    margin-right: 0;
    margin-bottom: 0.25em;
    font-size: 70px !important;
}


/* FIN de ICONOS */


/* Estilo de las cajas */

.caja {
    position: relative;
    flex: 1;
    padding: 1em;
    background-color: #292928;
    box-shadow: 0 1px 2px rgba(39, 45, 58, 0.3);
    border-radius: 3px;
    margin-left: 0.5em;
}


/* Indice */

.index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0.75em;
}

.index_child {
    flex: 1;
    padding: 0.75em 0.5em;
    background-color: #8b8b8b;
    box-shadow: 0 1px 2px rgba(47, 54, 68, 0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    color: aliceblue;
}


/* Formacion */

.Formacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}


/* footer */

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


/* footer lista */

.footer--ul {
    width: 100%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}


/* footer link */

.footer--a {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* estilos para secciones */

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.section>*+* {
    margin-top: 1em;
}


/* estilos barra de scroll*/

#scroll_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.555);
}

#scroll_bar::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(85, 85, 85, 0.555);
}

#scroll_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(32, 152, 209, 0.75);
}